[submodule "lib/TFT_eSPI"]
	path = lib/TFT_eSPI
	url = https://github.com/fukuen/TFT_eSPI
[submodule "lib/Maixduino_OV7740"]
	path = lib/Maixduino_OV7740
	url = https://github.com/fukuen/Maixduino_OV7740
